@import url("./assets/fonts/lato.css");

.navbar {
  height: 80px;
  background-color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}

.nav-link-padding {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.navbarPills {
  border-radius: 20px;
  background-color: rgba(239, 239, 239, 1);
  width: 181px !important;
  margin-left: 25px;
  display: flex;
  align-items: center;
  height: 30px;
  justify-content: center;
}

.navbarPillsWrapper {
  display: flex;
  align-items: center;
}

nav > link {
  font-size: 16px !important;
  color: rgba(25, 29, 63, 1) !important;
}

.nav-link.active::after {
  border-bottom: 3px solid rgba(0, 0, 0, 1) !important;
  position: absolute;
  bottom: 0;
  content: ""; 
  display: flex; 
  width: 90px;

}
.table-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(25, 29, 63, 1);
}
.table-subTitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(25, 29, 63, 1);
}
.titleSpacing{
  padding-right: 40px;
}

