@import url("./assets/fonts/lato.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.navbar {
  height: 80px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

nav > link {
  font-size: 16px !important;
  color: rgba(25, 29, 63, 1) !important;
}
.nav-link.active {
  font-size: 16px;
  font-weight: 700;
}

.nav-link.active::after {
  border-bottom: 3px solid rgba(0, 0, 0, 1) !important;
  position: absolute;
  bottom: 0;
  content: "";
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.table-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #191d3f;
}

.table-subTitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(25, 29, 63, 1);
}

.table-subTitle-spacing {
  padding-right: 40px;
}

tbody,
td,
tfoot,
th,
tr,
thead {
  border-style: none !important;
  border-width: 0px !important;
  border-color: transparent !important;
  padding: 20px !important;
}

thead th:first-child {
  border-top-left-radius: 35px !important;
  border-bottom-left-radius: 35px !important;
  background-color: rgba(239, 239, 239, 1) !important;
}

thead th:last-child {
  border-top-right-radius: 35px !important;
  border-bottom-right-radius: 35px !important;
  background-color: rgba(239, 239, 239, 1) !important;
}

.table thead th {
  border-style: none !important;
  background-color: rgba(239, 239, 239, 1) !important;
  font-size: 16px !important;
  font-weight: 400;
}

tbody tr td:first-child {
  border-top-left-radius: 35px !important;
  border-bottom-left-radius: 35px !important;
}

tbody tr td:last-child {
  border-top-right-radius: 35px !important;
  border-bottom-right-radius: 35px !important;
}

.bi-pencil-fill {
  color: #6b6b6b;
}

.navbar .nav-link {
  position: relative;
}

.btn-container .submit-btn {
  background-color: #191d3f;
  height: 40px;
  border-radius: 40px;
  width: 120px;
  border: none;
}
.btn-container .submit-btn:hover {
  background-color: #191d3f;
  height: 40px;
  border-radius: 40px;
  width: 120px;
  border: none;
}

.btn-container .close-btn {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #191d3f;
}

.buyNowContainer {
  display: flex;
  width: 412px;
  height: 40px;
  border-radius: 20px;
  background-color: #f9f9f9;
  align-items: center;
  padding-left: 20px;
}

tbody > tr:nth-child(odd) > td,
tbody > tr:nth-child(odd) > th {
  background-color: #ffffff;
}

tbody > tr:nth-child(even) > td,
tbody > tr:nth-child(even) > th {
  background-color: #f9f9f9;
}

.modal-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  color: #004fc6;
  margin-left: 22px;
}
.modal-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #191d3f;
  font-weight: bold;
}
.bi .bi-x {
  height: 10px;
  width: 10px;
  color: #6b6b6b;
}
.modal-header-container {
  background-color: rgba(239, 239, 239, 1);
}
.modal-body-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  color: #000000;
}
.modal-body-url {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: #000000;
}

.chevron-down,
.navbar-chevron-down,
.chevron-up {
  position: relative;
  padding-right: 20px; /* Adjust the padding as needed */
  cursor: pointer;
}
.chevron-up::after {
  content: "";
  position: absolute;
  top: 58%;
  right: 0;
  transform: translateY(-50%) rotate(180deg);
  width: 16px; /* Adjust the width as needed */
  height: 8px; /* Adjust the height as needed */
  background-image: url("./assets//images/downChevron.png"); /* Replace with your SVG file path */
  background-repeat: no-repeat;
  background-size: contain;
}

.chevron-down::after {
  content: "";
  position: absolute;
  top: 58%;
  right: 0;
  transform: translateY(-50%);
  width: 16px; /* Adjust the width as needed */
  height: 8px; /* Adjust the height as needed */
  background-image: url("./assets//images/downChevron.png"); /* Replace with your SVG file path */
  background-repeat: no-repeat;
  background-size: contain;
}
.reset-default-chevron .dropdown-toggle::after {
  display: none !important;
}
.navbar-chevron-down {
  padding-right: 10px; /* Adjust the padding as needed */
  cursor: pointer;
}

.navbar-chevron-down::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 12px; /* Adjust the width as needed */
  height: 6px; /* Adjust the height as needed */
  background-image: url("./assets//images/downChevron.png"); /* Replace with your SVG file path */
  background-repeat: no-repeat;
  background-size: contain;
}
.navbar-pills-chevron-down {
  cursor: pointer;
}
.navbar-pills-chevron-down::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 12px; /* Adjust the width as needed */
  height: 6px; /* Adjust the height as needed */
  background-image: url("./assets//images/downChevron.png"); /* Replace with your SVG file path */
  background-repeat: no-repeat;
  background-size: contain;
}
.custom-footer {
  background-color: #009fe3;
  height: 60px;
  display: flex;
  align-items: center;
  width: 100%;
}
.custom-input {
  width: 181px;
  margin-left: 30px;
}
.custom-input
  .input-group:not(.has-validation)
  > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(
    .form-floating
  ) {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #efefef;
  border: none;
  font-size: 14px;
  height: 30px;
}
/* input toggle drop menu  */
.custom-input
  .input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(
    .valid-feedback
  ):not(.invalid-tooltip):not(.invalid-feedback) {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #efefef;
  border: none;
  height: 30px;
}
.custom-input .form-control:focus {
  box-shadow: none;
}

.custom-input .dropdown-toggle::after {
  display: none;
  color: transparent;
}

.custom-input .btn {
  box-shadow: none;
  color: transparent;
}

.custom-text-input .input-group > .form-control {
  border-radius: 20px;
  background-color: #f9f9f9;
  border: none;
  padding: 12px 12px 12px 25px;
}
.custom-text-input .form-control:focus {
  box-shadow: none;
}
.custom-text-input input {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  color: #000000;
}
