/* * {
  font-family: "Lato", sans-serif;
  font-weight: 400 !important;
  font-style: normal;
} */

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400 !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Lato", sans-serif;
}
